---
---
/* modify Bootstrap variables here */
@import 'scss/variables';

/* main Bootstrap here */
@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

/* main body */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	> header {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
		border-bottom: 1px solid $gray-900;
	}

	> main {
		position: relative;
		flex: 1;
		overflow: hidden;
	}

	> footer {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
		background: $gray-900;
		color: $white;
	}
}

/* loop based display */
.items {
	@include make-row();
	margin-top: $spacer * 2;
	margin-bottom: $spacer * 2;

	.item {
		@include make-col-ready();
		@include make-col(1,2);
	}
}
