---
---
/* modify Bootstrap variables here */

/* main Bootstrap here */
@import "bootstrap/mixins/banner";
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "bootstrap/functions";
@import 'scss/variables';
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// Layout & components
@import "bootstrap/root";
@import "bootstrap/reboot";
//@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
//@import "bootstrap/tables";
//@import "bootstrap/forms";
@import "bootstrap/buttons";
//@import "bootstrap/transitions";
@import "bootstrap/dropdown";
//@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
//@import "bootstrap/card";
@import "bootstrap/accordion";
//@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
//@import "bootstrap/badge";
//@import "bootstrap/alert";
//@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
//@import "bootstrap/toasts";
@import "bootstrap/modal";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
@import "bootstrap/carousel";
//@import "bootstrap/spinners";
@import "bootstrap/offcanvas";
@import "bootstrap/placeholders";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";
// scss-docs-end import-stack


/* add additional CSS rules below */

/* main body */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	> header {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
		border-bottom: 1px solid $gray-400;
		margin-bottom: $spacer * 2;
		box-shadow: 0 -4px 20px 0 rgba($gray-400, 0.5);
	}

	> main {
		position: relative;
		flex: 1;
		overflow: hidden;
	}

	> footer {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
		background: $gray-900;
		color: $white;
	}
}

/* loop based display */
.items {
	@include make-row();
	margin-top: $spacer * 2;
	margin-bottom: $spacer * 2;

	.item {
		@include make-col-ready();
		@include make-col(1,1);
		margin-bottom: $grid-gutter-width;

		@include media-breakpoint-up(md) {
			@include make-col(1,2);
		}

		header {
			h2 {
				font-size: 1.5rem;
				font-weight: 600;
				color: $primary;
			}
			h4 {
				font-size: 1.125rem;
				text-transform: uppercase;
				font-stretch: 85%;
			}
			a {
				color: $link-color;
				text-decoration: none;
				margin-right: 1.5rem;
				display: inline-flex;
				align-items: baseline;
				font-size: 0.6875rem;
				font-weight: 600;
				line-height: 1.5;
				letter-spacing: 0.08375em;
				outline: none;
				text-transform: uppercase;

				&:after {
					content: "f061";
					display: inline-block;
					font: var(--fa-font-solid);
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-weight: 900;
					font-size: 0.875em;
					margin-left: 0.75em;
				}
			}
		}

		footer {
			.project_cats {
				font-style: italic;
			}
		}
	}
}
