---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

/* main body */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	> main {
		position: relative;
		flex: 1;
		overflow: hidden;
	}
}

/* loop based display */
.items {
	@include make-row();

	.item {
		@include make-col-ready();
		@include make-col(1,2);
	}
}
