---
title: About
---
<p>With more than 20 years of experience, I have built custom sites or solutions for a large range of clients throughout East Central Indiana and beyond. From small businesses to not-for-profits to city governments and local school districts, I create custom themes and solutions to meet your specific needs including event calendars, e-commerce, project listings, and more. I specialize in custom solutions that flow seamlessly into any WordPress site, resulting in sites that have the flexibility and reliability of tried and true WordPress elements alongside innovative and custom elements to fit your organization’s unique needs.</p>

<aside>
    <h4>Standard Rate:</h4>
    $65 per hour
</aside>

{% include skills.html %}

{% include projects.html %}

