---
title: About
---
<p>Experienced web developer with over 20 years of hands-on work creating custom WordPress solutions for a range of clients across East Central Indiana and beyond. Projects have included websites for small businesses, nonprofits, city governments, and school districts, often involving custom features like event calendars, e-commerce, and project listings. I focus on building flexible, reliable WordPress sites that integrate custom elements while maintaining usability and visual consistency. My education in Graphic Design supports a working understanding of design principles, which helps ensure that new additions align with existing branding and user experience expectations. I’m committed to practical, effective solutions and long-term client support.</p>

<!--<aside>-->
<!--    <h4>Standard Rate:</h4>-->
<!--    $65 per hour-->
<!--</aside>-->

{% include skills.html %}

{% include projects.html %}

